# Terraform
**/.terraform/
*.tfstate
*.tfstate.*
*.tfplan
*.tfvars
!*.tfvars.example
.terraform.lock.hcl
terraform/minecraft_server_key.pem

# Ansible
ansible/inventory.ini
ansible/*.retry

# SSH keys
*.pem
*.key
id_rsa
id_rsa.pub

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
